* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

p {
    color: white;
    font-size: 128px;
}